<nb-layout>

  <nb-layout-header fixed>
    <h4>Barista-Matic Coffee</h4>
  </nb-layout-header>

  <nb-layout-column>
    <app-barista-machine></app-barista-machine>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <p>App Date: <span style="color: #b18aff">{{appDate}}</span>.&nbsp;</p>
    <p>Created by <a href="https://mcgrawhill.atlassian.net/wiki/people/620becfbe41f76006a6d3ca5"
         target="_blank"
         rel="noopener noreferrer"> Guillermo Arellano</a>.&nbsp;
    </p>
    <p>More information about the demo project can be found on <a
         href="https://github.com/guillermoarellano/ngx-baristamatic-demo"
         target="_blank"
         rel="noopener noreferrer">GitHub</a>.</p>
  </nb-layout-footer>

</nb-layout>
