.drink-buttons  {
  width: 15rem;
  white-space: normal;
  margin: 10px 0px 10px;
  position: relative;

  &:disabled:after {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Out Of Stock';
    color: #ff708d;
    background: #808080de;
  }
}
